.DS_Store
.vscode/

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/1-react-basics/node_modules
/1-react-basics/.pnp
/1-react-basics/.pnp.js

# testing
/1-react-basics//coverage

# production
/1-react-basics//build

# misc
/1-react-basics/.DS_Store
/1-react-basics/.env.local
/1-react-basics/.env.development.local
/1-react-basics/.env.test.local
/1-react-basics/.env.production.local

/1-react-basics/npm-debug.log*
/1-react-basics/yarn-debug.log*
/1-react-basics/yarn-error.log*

# Course goals

# dependencies
/2-course-goals/node_modules
/2-course-goals/.pnp
/2-course-goals/.pnp.js

# testing
/2-course-goals//coverage

# production
/2-course-goals//build

# misc
/2-course-goals/.DS_Store
/2-course-goals/.env.local
/2-course-goals/.env.development.local
/2-course-goals/.env.test.local
/2-course-goals/.env.production.local

/2-course-goals/npm-debug.log*
/2-course-goals/yarn-debug.log*
/2-course-goals/yarn-error.log*